:root {
  /** spacing and width */
  --size-sides-spacing: 1rem;
  --size-boxed-width: 82em;

  /* media queries */
  --size-mq-mobile: 48em;
  --size-mq-tablet: 64em;
  --size-mq-desktop-s: 82em;

  @media screen and (max-width: 768px) and (min-width: 1024px) {
    --size-sides-spacing: 2rem;
  }
  @media screen and (min-width: 1025px) {
    --size-sides-spacing: 3rem;
  }

  --nav-bg-opacity: 0.2;
  --nav-bg-scale: 3;
}
