main.about-section {
  padding: 0 calc(var(--size-sides-spacing) + 5px);

  h1 {
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.5rem;
    margin: 1em 0 0.5em;
    font-weight: 500;
  }
  p {
    padding: 0 0 1em;
    margin: 0;
    strong {
      font-weight: 500;
    }
  }
}
